# Babel extraction configuration
# pybabel extract -F babel.cfg -k _ -k gettext -o arborpress/translations/messages.pot .

[python: arborpress/**.py]
encoding = utf-8

[jinja2: arborpress/templates/**.html]
encoding = utf-8
extensions = jinja2.ext.autoescape,jinja2.ext.with_
